/*
	Reference Styling for an Image Cropper
*/
@media all {
  /*
  	Definitions
  */
  /*
  	Buttons
  */
  /*
  	cropper
  */
  figure.cropper {
    background: #000;
    border: solid 1px #333;
    display: inline-block;
    position: relative;
    margin: 0 10px 50px 0;
    padding: 0;
    vertical-align: bottom;
  }
  figure.cropper span.cr-busy {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    background: black url(../img/busy_8.gif) no-repeat 50% 50%;
    color: #fff;
    height: 48px;
    left: 50%;
    margin: -24px;
    overflow: hidden;
    position: absolute;
    text-indent: 50px;
    white-space: nowrap;
    top: 50%;
    visibility: hidden;
    width: 48px;
    z-index: 10;
  }
  figure.cropper span.cr-overlay {
    border: dotted 1px #fff;
    cursor: move;
    display: block;
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
  }
  figure.cropper span.cr-overlay span {
    background: rgba(255, 255, 255, 0.5);
    background: #cccccc \9;
    border: solid 1px #fff;
    display: block;
    position: absolute;
    margin: -8px;
    width: 14px;
    height: 14px;
  }
  figure.cropper span.cr-overlay span.cr-tl {
    cursor: nw-resize;
    left: 0%;
    top: 0%;
  }
  figure.cropper span.cr-overlay span.cr-tc {
    cursor: n-resize;
    left: 50%;
    top: 0%;
  }
  figure.cropper span.cr-overlay span.cr-tr {
    cursor: ne-resize;
    right: 0%;
    top: 0%;
  }
  figure.cropper span.cr-overlay span.cr-ml {
    cursor: w-resize;
    left: 0%;
    top: 50%;
  }
  figure.cropper span.cr-overlay span.cr-mr {
    cursor: e-resize;
    right: 0%;
    top: 50%;
  }
  figure.cropper span.cr-overlay span.cr-bl {
    cursor: sw-resize;
    bottom: 0%;
    left: 0%;
  }
  figure.cropper span.cr-overlay span.cr-bc {
    cursor: s-resize;
    bottom: 0%;
    left: 50%;
  }
  figure.cropper span.cr-overlay span.cr-br {
    cursor: se-resize;
    bottom: 0%;
    right: 0%;
  }
  figure.cropper img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    display: block;
    margin: auto;
  }
  figure.cropper figcaption {
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: right;
  }
  figure.cropper figcaption button.cr-apply {
    float: left;
  }
  figure.cropper figcaption button[disabled] {
    background-color: #7f7f7f;
  }
  figure.cropper.cr-disabled span.cr-overlay {
    visibility: hidden;
  }
  figure.cropper.cr-disabled img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    display: block;
  }
}
@media all {
  button, .button {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 48px;
    height: 3rem;
    line-height: 48px;
    line-height: 3rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 16px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 16px;
    padding-left: 1rem;
    background-color: #ff6a00;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: visible;
    text-decoration: none;
  }
  button:hover, .button:hover {
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
  }
  button.disabled, button.disabled:hover, .button.disabled, .button.disabled:hover {
    background-color: #7f7f7f;
  }
}
