/*
	Constants
*/
/*
	Hides text in the margin
*/
/*
	Turns a button into an icon
*/
/*
	Centres a graphic or glyph inside an icon
*/
/*
	Offers both the pixel and rem value of a single property
*/
/*
	Offers both the pixel and rem values of a shorthand property
*/
/*
	Offers the text size as both the pixel and rem value
*/
/*
	Adds vendor prefixed to a property
*/
/*
	Applies the "clearfix" hack to a container with floating content
*/
/*
	Reference Styling for an Image Cropper
*/
/* line 7, ../../src/scss/useful-cropper.scss */
figure.cropper {
  background: #000;
  border: solid 1px #333;
  display: inline-block;
  position: relative;
  margin: 0 10px 50px 0;
  padding: 0;
  vertical-align: bottom;
}
/* line 15, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-busy {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: black url(../img/busy_8.gif) no-repeat 50% 50%;
  color: #fff;
  height: 48px;
  left: 50%;
  margin: -24px;
  overflow: hidden;
  position: absolute;
  text-indent: 50px;
  white-space: nowrap;
  top: 50%;
  visibility: hidden;
  width: 48px;
  z-index: 10;
}
/* line 32, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay {
  border: dotted 1px #fff;
  cursor: move;
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
}
/* line 41, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span {
  background: rgba(255, 255, 255, 0.5);
  background: #cccccc \9;
  border: solid 1px #fff;
  display: block;
  position: absolute;
  margin: -8px;
  width: 14px;
  height: 14px;
}
/* line 50, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-tl {
  cursor: nw-resize;
  left: 0%;
  top: 0%;
}
/* line 55, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-tc {
  cursor: n-resize;
  left: 50%;
  top: 0%;
}
/* line 60, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-tr {
  cursor: ne-resize;
  right: 0%;
  top: 0%;
}
/* line 65, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-ml {
  cursor: w-resize;
  left: 0%;
  top: 50%;
}
/* line 70, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-mr {
  cursor: e-resize;
  right: 0%;
  top: 50%;
}
/* line 75, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-bl {
  cursor: sw-resize;
  bottom: 0%;
  left: 0%;
}
/* line 80, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-bc {
  cursor: s-resize;
  bottom: 0%;
  left: 50%;
}
/* line 85, ../../src/scss/useful-cropper.scss */
figure.cropper span.cr-overlay span.cr-br {
  cursor: se-resize;
  bottom: 0%;
  right: 0%;
}
/* line 92, ../../src/scss/useful-cropper.scss */
figure.cropper img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  display: block;
  margin: auto;
}
/* line 97, ../../src/scss/useful-cropper.scss */
figure.cropper figcaption {
  display: block;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: right;
}
/* line 104, ../../src/scss/useful-cropper.scss */
figure.cropper figcaption button.cr-apply {
  float: left;
}
/* line 108, ../../src/scss/useful-cropper.scss */
figure.cropper figcaption button[disabled] {
  opacity: 0.5;
}
/* line 113, ../../src/scss/useful-cropper.scss */
figure.cropper.cr-disabled span.cr-overlay {
  visibility: hidden;
}
/* line 116, ../../src/scss/useful-cropper.scss */
figure.cropper.cr-disabled img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block;
}
